nav a {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    border-radius: 50px
}

body {
    background-image: url("img/ффф.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

main {
    width: 60%;
    margin: auto;
}

main img {
    width: 40%;
    margin: auto;
    display: block;
}

footer {
    background-color: blueviolet;
    height: 50px;
    color: white;
}